* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  margin: 0;
  font-family: Merriweather, serif;
}
main {
  padding: 0.1em;
}
header {
  margin-bottom: 5px;
}
header h1,
header p {
  padding: 0.5em;
  text-align: center;
}
header p,
fieldset label,
footer p,
fieldset p {
  font-size: 0.85em;
  color: rgba(78, 78, 78, 0.8);
}
header h2 {
  margin: 0;
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: rgb(56, 56, 56);
  font-size: 1.1em;
}
header h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
}
header p {
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
}
.form-border {
  width: 90%;
  margin: auto;
  border-bottom: 2px solid #000;
}
#top-border {
  height: 8px;
  border-top: 3.5px solid #000;
}
label {
  margin: 10px 0 10px 0;
}
fieldset {
  border: none;
}
#flex {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  flex-direction: column;
}
/*
fieldset:nth-of-type(2) {
  background-color: rgb(253, 169, 169);
  border-radius: 4px;
}*/
legend {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 0 15px 0;
  padding-top: 50px;
}
input[placeholder]::placeholder {
  text-align: right;
  font-style: italic;
  margin-right: 10px;
  padding-right: 5px;
  font-family: Merriweather, serif;
}
select {
  font-family: Merriweather, serif;
}
select:nth-of-type(1) {
  color: rgba(78, 78, 78, 0.8);
}
#zip {
  width: 50%;
}
#bottom-border {
  margin-top: 20px;
}
div {
  margin-bottom: 15px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  height: 40px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 3px;
}
textarea {
  margin-top: 10px;
  resize: none;
  height: 100px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus,
input[type="radio"],
input[type="checkbox"] {
  outline-color: rgb(56, 56, 56);
  background-color: rgb(169, 238, 199);
  transition: background-color 0.5s ease-in;
}
input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  margin: 0 5px 0 0;
}
#submit-button {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
input[type="submit"] {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  font-family: Merriweather, serif;
  color: #fff;
  background-color: rgb(49, 197, 182);
  border-style: none;
  font-size: 1.1em;
}
footer p {
  text-align: center;
  font-style: italic;
}

@media (min-width: 768px) {
  main {
    width: 60%;
    margin: auto;
  }
  header h1 {
    margin-top: 50px;
  }
  header p {
    font-size: 0.7em;
  }
  .flex {
    flex-direction: row;
  }
  fieldset:nth-of-type(1) label {
    width: 30%;
    display: inline-block;
    margin-bottom: 30px;
  }
  fieldset:nth-of-type(1) input,
  select {
    width: 65%;
  }
  #zip {
    width: 25%;
  }
  input[type="submit"] {
    width: 95%;
  }
  footer p {
    font-size: 0.7em;
  }
}
